<link rel="stylesheet" href="blocks/components/text_section/type_1/text_section_style_t1.css">
<div class="text-section-component" data-nav-handler="handleTextSectionNavigation">
    
    <!-- Header -->
    <div class="text-section__header">
        <ion-icon name="document-text-outline" class="text-section__icon"></ion-icon>
        <h3 class="text-section__title"></h3>
    </div>

    <!-- Content -->
    <div class="text-section__content"></div>

</div>
<script src="blocks/components/text_section/type_1/text_section_behavior_t1.js"></script>
