<link rel="stylesheet" href="blocks/components/section_title/type_1/section_title_style_t1.css">
<section class="section-title-component" data-nav-handler="handleSectionTitleNavigation">
    <div class="section-title__wrapper">
        <ion-icon name="document-text-outline" class="section-title__icon"></ion-icon>
        <h3 class="section-title__text"></h3>
    </div>
    <p class="section-title__subtitle"></p>
</section>
<script src="blocks/components/section_title/type_1/section_title_behavior_t1.js"></script>
