<link rel="stylesheet" href="blocks/components/tech_stack/type_1/tech_stack_style_t1.css">
<div class="tech-stack-component" data-nav-handler="handleTechStackNavigation">
    
    <!-- Header -->
    <div class="tech-stack__header">
        <div class="tech-stack__title-section">
            <ion-icon name="layers-outline" class="tech-stack__icon"></ion-icon>
            <h3 class="tech-stack__title"></h3>
        </div>
    </div>

    <!-- Categories -->
    <div class="tech-stack__categories"></div>

</div>
<script src="blocks/components/tech_stack/type_1/tech_stack_behavior_t1.js"></script>
