<link rel="stylesheet" href="blocks/components/feature_list/type_1/feature_list_style_t1.css">
<section class="feature-list-component" data-nav-handler="handleFeatureListNavigation">
    
    <!-- Header -->
    <div class="feature-list__header">
        <div class="feature-list__title-section">
            <ion-icon name="list-outline" class="feature-list__icon"></ion-icon>
            <h3 class="feature-list__title"></h3>
        </div>
        <span class="feature-list__count"></span>
    </div>

    <!-- Features Grid -->
    <div class="feature-list__grid"></div>

</section>
<script src="blocks/components/feature_list/type_1/feature_list_behavior_t1.js"></script>
