<link rel="stylesheet" href="blocks/components/workflow/type_2/workflow_style_t2.css">
<section class="workflow" data-nav-handler="handleWorkflowNavigation">
  <div class="workflow__container">
    <!-- Main Header Section -->
    <div class="workflow__main-header">
      <div class="workflow__title-section">
        <div class="workflow__icon-wrapper">
          <ion-icon name="git-network-outline"></ion-icon>
        </div>
        <div class="workflow__title-content">
          <h2 class="workflow__title">Working Methodology</h2>
          <p class="workflow__subtitle">Project development approaches</p>
        </div>
      </div>
      <div class="workflow__dropdown" id="workflow-dropdown">
        <select class="workflow__select" id="workflow-scenario-select">
          <!-- DROPDOWN_OPTIONS_PLACEHOLDER -->
        </select>
        <ion-icon name="chevron-down-outline" class="workflow__dropdown-icon"></ion-icon>
      </div>
    </div>
    
    <div class="workflow__scenario-info">
      <div class="workflow__scenario-icon-wrapper">
        <ion-icon name="git-network-outline" id="workflow-scenario-icon"></ion-icon>
      </div>
      <div class="workflow__scenario-text-wrapper">
        <h3 class="workflow__scenario-title" id="workflow-scenario-title">Loading...</h3>
        <p class="workflow__scenario-description" id="workflow-scenario-description">Please select a workflow scenario to see details.</p>
      </div>
    </div>
    
    <div class="workflow__content">
      <div class="workflow__steps-list" id="workflow-steps-list">
        <!-- WORKFLOW_STEPS_PLACEHOLDER -->
      </div>
    </div>
  </div>
</section>
<script src="blocks/components/workflow/type_2/workflow_behavior_t2.js" type="module"></script>
